<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>Burgers!</h1>
  </div>
  <div class="row justify-content-between">
    <div class="col-6">
      <h2>Burgers to eat:</h2>
      <ul>
        {{#each burgers}} {{#unless devoured}}
        <li class="p-2 m-2">
          <img class="img-fluid img-burger" src="/assets/img/burger.png" alt="a burger"> {{burger_name}}
          <button class="devour btn-block" data-id="{{this.id}}">Devour!</button>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h2>Ate these:</h2>
      <ul>
        {{#each burgers}} {{#if devoured}}
        <li class="p-2">
          {{this.burger_name}}
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
  <footer class="footer">
    <div class="row justify-content-center mt-5">
      <div class="col-5 text-center">
        <h2 class="yellow">Add a Burger</h2>
        <form class="create-form">
          <div class="form-group">
            <label class="yellow" for="bg">Burger Name:</label>
            <input type="text" id="bg" name="burger_name">
            <button type="submit btn">Add Burger</button>
          </div>
        </form>
      </div>
    </div>
  </footer>
</div>